body{
    background-color: #1D2228;
}
div{
    margin-left: auto;
    padding-left: auto;
    padding-right: auto;
}
h1{
text-align: center;
color: white;
}
#calc-title{
    margin-left: 3rem;
    margin-right:3rem;
}
table{
    border-spacing: 0px;
    border: 5px solid white;
    border-radius:5px;
    margin-top: 70px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 370px;
    height: 480px;
    background-color: white;
}
#tbody{
    border: 1px solid black;
}
#num-btn{
    width:92px;
    height: 60px;
    font-size: 25px;
    font-weight: 530;
    background-color: yellow;
}
#num-btn:hover{
    background-color:green;
    color:white;
}
#io{
    background-color: #1D222830;
    padding-top: 5px;
    border: 2px solid black;
    text-align: right;
    width: 371px;
    height: 90px;
    font-size: 2.5rem;
}
#AC-btn{
    border: 2px solid black;
    width: 92px;
    height: 60px;
    font-size: 1.25rem;
}
#AC-btn:hover{
    background-color: red;
    color:white;
}
.btn-operator label{
    font-size: 1.6rem;
    font-weight: 530;
}
.btn-del{
    border: 2px solid black;
    width: 92px;
    height: 60px;
    font-size: 1.25rem;
}
.btn-del:hover{
    background-color: red;
    color: antiquewhite;
}

.btn-eq{
    width:92px;
    height: 60px;
    font-size: 25px;
    font-weight: 530;
    background-color: royalblue;
}
.btn-eq:hover{
    background-color:#FB8122;
}   